
/* .stacked-viewport {
  position: relative;
  height: 70vh;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(0,0,0,0.12), rgba(0,0,0,0) 90%);
  display: flex;
  align-items: center;
} */

.stacked-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  transform-origin: left center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stacked-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}
